<div class="table">
  <div class="table-row table-header">
    <div class="table-column-3">资源名</div>
    <div class="table-column-3">大小</div>
    <div class="table-column-3">查看数</div>
    <div class="table-column-3">上传时间</div>
    <div class="clear"></div>
  </div>
  {{#each list}}
  <div class="table-row">
    <div class="table-column-3"><a href="#content/{{id}}">{{name}}</a></div>
    <div class="table-column-3">{{size}}</div>
    <div class="table-column-3">{{hot}}</div>
    <div class="table-column-3">{{upload}}</div>
    <div class="clear"></div>
  </div>
  {{/each}}
</div>
<div id="list-pager"></div>
