<div class="top-menu-wrapper">
  <div class="top-menu-body">
    {{#each fast}}
    <div class="fast-link-top">
      <img src="{{../basepath}}{{img}}.jpg" alt="">
      <img class="top-link-active" src="{{../basepath}}{{img_s}}.jpg" alt="">
      <p>{{parent_name}}</p>
    </div>
    {{/each}}
  </div>
  <div class="triangle"></div>
</div>
<div class="sec-menu-wrapper">
  {{#each fast}}
  <div class="sec-menu-body">
    {{#each child}}
    <a href="{{#if link}}{{../../../extra}}{{else}}{{@root.course}}#/list/sectype{{id}}/0{{/if}}"><div class="fast-link-sec">
      <img src="{{../../basepath}}{{img}}.jpg" alt="">
      <p>{{name}}</p>
    </div></a>
    {{/each}}
    <div class="clear"></div>
  </div>
  {{/each}}
</div>