{{#each list}}
<div class="employ-type employ-{{@index}}">
  <h3>{{title}}<a href="#list/sectype{{id}}/0" class="more">more</a></h3>
  {{#each news}}
  {{#if img}}
  <div class="employ-big">
    <img src="{{img}}" alt="">
    <div class="employ-content">
      <a href="#content/{{id}}">{{name}}</a>
        <p>{{desc}}</p>
    </div>
    <div class="clear"></div>
  </div>
  {{else}}
  <div class="employ-small">
    <a href="#content/{{id}}">{{name}}</a>
    <p>{{desc}}</p>
  </div>
  {{/if}}
  {{/each}}
</div>
{{/each}}