<div class="employ-type employ-1">
  <h3>abroad<a href="#" class="more">more</a></h3>
  {{#each abroad.big}}
  <div class="employ-big">
    <img src="{{../basepath}}/images/{{img}}" alt="">
    <div class="employ-content">
      <a href="#">{{title}}</a>
        <p>{{desc}}</p>
    </div>
    <div class="clear"></div>
  </div>
  {{/each}}
  {{#each abroad.small}}
  <div class="employ-small">
    <a href="#">{{title}}</a>
    <p>{{desc}}</p>
  </div>
  {{/each}}
</div>
<div class="employ-type employ-2">
  <h3>study<a href="#" class="more">more</a></h3>
  {{#each study.big}}
  <div class="employ-big">
    <img src="{{../basepath}}/images/{{img}}" alt="">
    <div class="employ-content">
      <a href="#">{{title}}</a>
        <p>{{desc}}</p>
    </div>
    <div class="clear"></div>
  </div>
  {{/each}}
  {{#each study.small}}
  <div class="employ-small">
    <a href="#">{{title}}</a>
    <p>{{desc}}</p>
  </div>
  {{/each}}
</div>
<div class="employ-type employ-3">
  <h3>work<a href="#" class="more">more</a></h3>
  {{#each work.big}}
  <div class="employ-big">
    <img src="{{../basepath}}/images/{{img}}" alt="">
    <div class="employ-content">
      <a href="#">{{title}}</a>
        <p>{{desc}}</p>
    </div>
    <div class="clear"></div>
  </div>
  {{/each}}
  {{#each work.small}}
  <div class="employ-small">
    <a href="#">{{title}}</a>
    <p>{{desc}}</p>
  </div>
  {{/each}}
</div>