<div class="intro-title red">
  雅思考试 <a id="exam-sign" class="more">sign</a>
</div>
<div class="top-row">
  <div class="exam-banner-border">
      <div id="banner">
        {{#each banners}}
        <a href="{{link}}"><img src="{{img}}" alt=""></a>
        {{/each}}
        <div class="wrapper-banner-switch">
            {{#each banners}}
            <div class="banner-switch"></div>
            {{/each}}
            <div class="clear"></div>
        </div>
      </div>
  </div>
  <div class="exam-side" style="float:right;">
    <div class="side-wrapper">
      <div class="intro-title light-gray">{{description.title}} <a href="#" class="more">more</a></div>
      <div class="intro-content">
        <div class="multiline">
          {{description.content}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="bottom-wrapper">
  <div class="intro-title light-gray">Best Students</div>
  <div class="intro-content">
    {{#each best}}
    <div class="piece">
      <img src="{{img}}" alt="">
      <div class="texts best-texts">
        <p>{{name}}</p>
        <p>{{class}}</p>
        <p>{{score}}</p>
      </div>
    </div>
    {{/each}}
    <div class="clear"></div>
  </div>
</div>