<div class="table">
  <div class="table-row table-header">
    <div class="table-column-3">课程名称</div>
    <div class="table-column-3">课时</div>
    <div class="table-column-3">人数/总人数</div>
    <div class="clear"></div>
  </div>
  {{#each list}}
  <div class="table-row">
    <div class="table-column-3"><a href="#content/{{id}}">{{name}}</a></div>
    <div class="table-column-3">{{time}}</div>
    <div class="table-column-3">{{num}}/{{max}}</div>
    <div class="clear"></div>
  </div>
  {{/each}}
</div>
<div id="list-pager"></div>
