{{#each panels}}
<div class="list-panel">
  <h3>{{title}}</h3>
  {{#each students}}
  <div class="piece">
    <img src="{{../../basepath}}{{img}}" alt="">
    <div class="texts">
      <h4>{{name}}</h4>
      <p>{{class}}</p>
      <p>{{degree}}</p>
      <p>{{feeling}}</p>
    </div>
    <div class="clear"></div>
  </div>
  {{/each}}
</div>
{{/each}}