<div class="wrapper-latest-activity">
  {{#each latenews}}
  <div class="latest-activity">
    {{#if @first}}
    <img src="{{img}}" alt="">
    <div class="activity-content">
      <a href="#content/{{id}}">{{name}}</a>
      <p>{{desc}}</p>
    </div>
    {{else}}
    <div class="activity-content">
      <a href="#content/{{id}}">{{name}}</a>
      <p>{{desc}}</p>
    </div>
    <img src="{{img}}" alt="">
    {{/if}}
    <div class="clear"></div>
  </div>
  {{/each}}
</div>
<div class="wrapper-recent-activity">
  <h3>Recent<a href="#list/sectype{{id}}/0" class="more">all>></a></h3>
  <div class="recent-activities">
    {{#each recentnews}}
    <div class="activity">
      <a href="#content/{{id}}">{{name}}</a>
      <p>{{watched}}</p>
    </div>
    {{/each}}
    <div class="clear"></div>
  </div>
</div>